@import "../../styles/index";

.chat-page {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  height: 95vh;
  max-height: 600px;
  max-width: 400px;
  width: calc(100% - #{2 * $size-wrapper-margin});
  margin: 10px auto;
  background-color: rgba(0,0,0, 0.3);
  border-radius: 25px;
  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__loading-text {
    @include type($font-size: 2.4rem, $font-weight: 700);
    color: rgba(255,255,255, 0.8);
    opacity: 0;
    animation: opacityIn 3s forwards;
    @keyframes opacityIn {
      to {
        opacity: 0.8;
      }
    }
  }
  &__title {
    @include type($font-size: 2.4rem, $font-weight: 700);
    flex: 0 0 auto;
    text-align: center;
    padding: 15px 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color:rgba(0,0,0, 0.8);
    color: rgba(255,255,255, 0.8);
  }

  &__message-list {
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 20px 5px 5px 5px;
  }
  &__message-list-notification {
    display: block;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    opacity: 0;
    border-radius: 15px;
    @include type($font-size: 1rem, $font-weight: 700);
    background-color:rgba(0,0,0, 0.8);
    color: rgba(255,255,255, 0.8);
    pointer-events: none;
    &.active {
      animation: notifiAni 2s forwards;
    }
    @keyframes notifiAni {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      0% {
        opacity: 0;
      }
    }
  }

  &__message-list-item {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    &.find-me {
      justify-content: flex-end;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form {
    flex: 0 0 auto;
    padding: 15px 0;
    background-color:rgba(0,0,0, 0.8);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
