@import "../../styles/index";

.chat-page {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  height: 95vh;
  max-height: 600px;
  max-width: 400px;
  width: calc(100% - #{2 * $size-wrapper-margin});
  margin: 10px auto;
  background-color: rgba(0,0,0, 0.3);
  border-radius: 25px;
  overflow: hidden;

  &__title {
    @include type($font-size: 2.4rem, $font-weight: 700);
    flex: 0 0 auto;
    text-align: center;
    padding: 15px 0;
    background-color:rgba(0,0,0, 0.8);
    color: rgba(255,255,255, 0.8);
  }

  &__message-list {
    flex: 1 1 auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 20px 5px 5px 5px;
  }

  &__message-list-item {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    &.find-me {
      justify-content: flex-end;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form {
    flex: 0 0 auto;
    padding: 15px 0;
    background-color:rgba(0,0,0, 0.8);
  }
}
