@import "../../styles/index";

.input-element {
  @include shape('rounded-border');
  @include type;
  height: 40px;
  width: 100%;
  padding: 0 16px;
  color: rgba(255,255,255, 0.8);
  &::placeholder {
    color: rgba(255,255,255, 0.5);
  }
}
