$color-background: linear-gradient(270deg, rgba(31,90,111,1) 0%, rgba(159,129,58,1) 79%);
$color-text: #000;
$color-theme: #ddd;
$color-theme-inverted: #000;

$font-family: 'Roboto', sans-serif;

$size-radius-small: 8px;
$size-radius-large: 100%;
$size-rem: 1.6rem;
$size-wrapper-margin: 16px;
