.message {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
  &.my-messages {
    flex-flow: row-reverse nowrap;
    .message__avatar {
      margin-right: 0;
      margin-left: 8px;
    }
    .message__text {
      flex: initial;
      .message-text {
        .message-metadata {
          flex-flow: row-reverse nowrap;
          .message-metadata__display-name {
            margin-right: 0;
            margin-left: 8px;
          }
        }
        .message-text__content {
          text-align: right;
        }
      }
    }
  }
  &__avatar {
    flex: 0 0 auto;
    margin-right: 8px;
    display: inline-block;
  }
  &__text {
    flex: 1 1 auto;
    display: block;
  }
}
